<div class="UrlShortener">
  <form action="/buildUrlShortener" method="post">
    <input type="text" name="urlInput" id="urlInput" />
    <button type="submit" id="urlBtn">Shorten</button>
  </form>
</div>